In [19]:
import tensorflow as ts
import pandas as pd

# Reading Data
numbers = pd.read_excel("num.xlsx")

# Naming The Header
numbers.columns = ['n1', 'n2', 'n3', 'n4', 'r']

# Show First 5 rows
numbers.head()

      n1     n2     n3     n4      r
0  20689  20724  20689  20702  20703
1  20702  20709  20695  20703  20714
2  20703  20714  20700  20714  20714
3  20714  20717  20702  20714  20728
4  20713  20732  20709  20728  20717

In [ ]:
(x_train, y_train), (x_test, y_test) =